.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: calc(100vw / 8) ;
    max-height: calc(100vw / 8) ;

    background: #926C8D;
    color: white;
    /* background-image: url("./Lambda_logo.svg"); */
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    font-size: 1.8rem;
    
    

}

