

.summary {

    display: flex;
    flex-direction: column;
    height: calc(100vw / 4) ;
    width: calc(100vw / 8) ;

    background-color: salmon;
}


/* .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: calc(100vw / 8) ;
    height: calc(100vw / 8) ;

    background-color: salmon;
    color: white;
    background-image: url("./Lambda_logo.svg");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    
    

} */