* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.main_container {
  
    background-color: grey;
    height: 100%;
    width: 100%;
}


.main_container_inner {
    margin: auto;

    width: 80%;
    height: 100vh;
    background-color: black;
    padding-top: 1%;





}

.level1 {
    justify-content: space-evenly;
  
    /* margin: auto; */
    display: grid;
    grid-template-columns: repeat(6, auto);
  
   
    /* column-gap: 1px; */
    row-gap: 1em;
    grid-auto-rows: calc(100vw / 8)

    /* grid-auto-rows: minmax(100px, auto); */
    /* grid-auto-rows: 800px; */

}

.summary {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-template-rows: 2fr;
}

.summary2 {
    grid-column-start: 3;
    grid-row-start: 2;
    grid-row-end: 3;
    /* transform: rotate(90deg); */
}

.level2_container {
    display: grid;
    grid-template-columns: 8fr 1fr 1fr 1fr;
    gap: 3px;
}