@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,700;1,700&family=Unbounded:wght@300&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Unbounded', cursive;
}


.main_container {
  
    background-color: grey;
    height: 100vh;
    width: 100vw;
}


.main_container_inner {
    margin: auto;

    width: 82%;
    height: 100vh;
    background-color: black;
    padding-top: .4%;
    padding: auto;


}

.level1 {
   
    
    justify-content: space-evenly;
  
    /* margin: auto; */
    display: grid;
    grid-template-columns: repeat(6, auto);
  
   
    /* column-gap: 1px; */
    grid-gap: 6px;
    grid-auto-rows: calc(100vw / 8)


}

.summary {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-template-rows: 2fr;
}

.summary2 {
    grid-column-start: 3;
    grid-row-start: 2;
    grid-row-end: 3;
    /* transform: rotate(90deg); */
}

.level2_container {
    display: grid;
    grid-template-columns: 8fr 1fr 1fr 1fr;
    gap: 3px;
}